@page
@model ProductsModel
@{
    ViewData["Title"] = "Northwind Products";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Unit Price</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loops through all products on data model -->
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.CategoryName</td>
                <td>@product.UnitPrice.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>